<!-- /* **************************************
* Content Heading
* ************************************ */ -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')   
} %>


<!-- /* **************************************
* Login Form
* ************************************ */ -->

<div class="login-form"> 
    <form action="/account/register" method="post">
        <div class="form-group">
            <label for="account_firstname">First Name:</label>
            <input type="text" id="account_firstname" name="account_firstname" required>
        </div>
        
        <div class="form-group">
            <label for="account_lastname">Last Name:</label>
            <input type="text" id="account_lastname" name="account_lastname" required>
        </div>
        
        <div class="form-group">
            <label for="account_email">Email:</label>
            <input type="email" id="account_email" name="account_email" required>
        </div>
        
        <div class="form-group">
            <label for="account_password">Password:</label>
            <input type="password" id="account_password" name="account_password" required
                   pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*]).{12,}$" title="Must be 12+ characters with 1 uppercase, 1 number, 1 special character">
            <span class="password-hint"> Password must contain: 12+ characters, 1 uppercase, 1 number, 1 special character </span>
            <span id="pswdBtn">Show Password</span>
        </div>
        
        <button type="submit" class="btn-login">REGISTER</button> 
    </form>
    
    <div class="register-link">
        <p>Already have an account? <a href="/account/login">Login</a></p>
    </div>
</div>
<script src="/js/showpassword.js" defer></script>