<nav id="nav-bar" class="navigation">
  <ul>
    <li class="current"><a href="index.ejs">Home</a></li>
    <li><a href="#">Custom</a></li>
    <li><a href="#">Sedan</a></li>
    <li><a href="#">SUV</a></li>
    <li><a href="#">Truck</a></li>
  </ul>
</nav>
