/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

:root{
    --primary-color: #1E3A5F; 
    --secondary-color: #3B5998; 
    --accent-color:#00B4D8; 
    --text-color: #FFFFFF; 
    --font-heading: "Montserrat", sans-serif;
    --font-paragraph: "lora", serif;
    --background-color: #eee;
}

body {
    font-family: var(--font-paragraph);
    margin: 0 auto;
    padding: 20px;


}

h1, h2 {
    font-family: var(--font-heading);
}

p {
        font-family: var(--font-paragraph);
}

/* **************************HEADER*********************** */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    font-family: var(--font-heading);
}


.siteName a {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
}

#tools a {
    text-decoration: none;
    color: black;
}
/* ********************NAVIGATION************************ */
.navigation {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  width: 100vw;

}

.navigation ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
}


.navigation a {
    display: block;
    padding: 1rem .8rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--font-heading);
    transition: bakground-color 0.3s ease;

}

.navigation a:hover {
    background-color: var(--primary-color);
    color:white;
}


/* ************************** Main ************************** */
.main-content{
    max-width: 1000px;
    margin: 0 auto;
    /* padding: 10px 20px; */

}

.main-content section {
    margin-bottom: 40px;
}

.main-content h1 {
    margin: 20px 0;
}

.main-content h2 {
    margin-bottom: 15px;
}

/* *****Features***** */
.features {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
}

.features img{
    display: block;
    width: 100%;
    height: auto;
    background-color: black;
}

.features-box{
    position: absolute;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.85);
    width: max-content;

}
.cta {
    background-color: var(--accent-color);
    border: none;
    padding: 10px;
    font-size: .85rem;
    font-weight: bold;
    border-radius: 3px;
}

.features-box h2 {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-bottom: 5px;
    font-family: var(--font-heading);
}

.features-box p {
    color: var(--accent-color);
}
/* *****Reviews***** */
.reviews ul {
    padding-left: 20px;
}

.reviews li {
    margin-bottom: 10px;
}



/* ***** Upgrade***** */
.upgrade-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}

.upgrade-grid figure {
    text-align: center;
    transition: transform 0.3s ease;
}

.upgrade-grid figure:hover {
    transform: scale(1.05);
}

.upgrade-grid img {
    background-color: var(--accent-color);
    border: solid 1px;
    padding: 15px 60px;
    max-width: 100%;
    margin-bottom: 10px;
    height: 120px;

}

.upgrade-grid figcaption a{
    margin-top: 100px;
    font-weight: bold;
    color: blue;
}

/* ******************************FOOTER******************************* */



/* ************************Large*************************** */

@media (min-width: 541px) {
    body {
        background-image: url('images/site/checkerboard.jpg');
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 2.8rem;
        grid-column: 1/3;
    }

    .features {
        grid-column: 1/3;
    }
    .features h2{
        font-size: 2rem;
        margin-top: 10px;
    }

    .features p {
        font-size: 1.8rem;
    }
    .cta {
        font-size: 1.75rem;
        margin-top: 10px;
    }

    .features-box h2{

        white-space: nowrap;
    }

    .upgrades {
        order: 2;
    }
    .reviews {
        order: 1;
    }
}