<!-- /* **************************************
* Content Heading
* ************************************ */ -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>


<!-- /* **************************************
* A Message Block
* ************************************ */ -->

<%# messages()  %>

<!-- /* **************************************
* The Vehicle Details Display
* ************************************ */ -->

<%- vehicleDetails %>